.about-dialog-tabs {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 0 !important;
}

.about-dialog-tab-content {
    padding: 1em 1em;
}

#about-dialog-tabs {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#about-dialog {
    overflow: hidden;
}
