html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#header {
    width: 100%;
}
#header-buttons-line {
    width: 100%;
}

.ui-dialog {
  -webkit-box-shadow: 0px 5px 10px 10px #ccc;
  box-shadow:         0px 5px 10px 10px #ccc;
}

input.command {
}

#footer {
    width: 100%;
}
