html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: lightCyan;
}

#header {
    width: 100%;
}
#header-buttons-line {
    width: 100%;
}

.ui-dialog {
    -webkit-box-shadow: 0px 2px 3px 3px #ccc;
    box-shadow:         0px 2px 3px 3px #ccc;
}

.v-slider-right {
    width: 8px;
    background-image: url('../img/back_n_force.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    background-attachment: scroll;
    background-size: 16px 48px;
}

.v-slider-left {
    width: 8px;
    background-image: url('../img/back_n_force.png');
    background-repeat: no-repeat;
    background-position: -8px center;
    background-attachment: scroll;
    background-size: 16px 48px;
}

input.command {
}

#footer {
    -webkit-box-shadow: 0px 0px 2px 2px #02f inset;
    box-shadow:         0px 0px 2px 2px #02f inset;
    width: 100%;
}
